<div id="passengers">
    <form>
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="number" id="default-search" name="pid" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search ID" required>
            <button id="search" hx-get="/ui/passenger" hx-trigger="click" hx-include="[name='pid']" hx-swap="outerHTML" hx-target="#passengers" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>
    </form>
    <table class="text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Age
                </th>
                <th scope="col" class="px-6 py-3">
                    Survived
                </th>
                <th scope="col" class="px-6 py-3">
                    Gender
                </th>
                <th scope="col" class="px-6 py-3">
                    Cabin
                </th>
                <th scope="col" class="px-6 py-3">
                    Fare
                </th>
                <th scope="col" class="px-6 py-3">
                    Ticket 
                </th>
            </tr>
        </thead>
        <tbody>
            {{ range .Passengers }}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ .Name }}
                </th>
                <td class="px-6 py-4">
                    {{ .Age }}
                </td>
                <td class="px-6 py-4">
                    {{ .Survived }}
                </td>
                <td class="px-6 py-4">
                    {{ .Sex }}
                </td>
                <td class="px-6 py-4">
                    {{ .Cabin }}
                </td>
                <td class="px-6 py-4">
                    {{ .Fare }}$
                </td>
                <td class="px-6 py-4">
                    {{ .Ticket }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    <script>
        var s = document.getElementById("search");
        s.addEventListener('htmx:configRequest', function(evt) {
            if (evt.detail.parameters['pid'] == "") {
                evt.detail.path = "/ui/passengers"
            } else {
                evt.detail.path = "/ui/passenger/" + evt.detail.parameters['pid']
            }
            evt.detail.parameters = []
            console.log(evt.detail)
        });
    </script>
</div>
